{% extends "base.html" %}
{% load static %}
{% block title %}Home - My Site{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" media="screen,projection" href="{% static 'css/cssmap-romania.css' %}" />
{% endblock %}
{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Alege Judetul</h3>
        <p>Va rugam sa alegeti judetul pentru evenimentul dvs.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
<article>
    <section id="samples">
        <div id="example1" class="sample active">
            <div id="map-romania4">
                <ul class="romania">
                    <li style="border: none;" class="ro1">
                        <a href="#alba">Alba</a>
                    </li>
                    <li style="border: none;" class="ro2">
                        <a href="#arad">Arad</a>
                    </li>
                    <li style="border: none;" class="ro3">
                        <a href="#arges">Argeș</a>
                    </li>
                    <li style="border: none;" class="ro4">
                        <a href="#bacau">Bacău</a>
                    </li>
                    <li style="border: none;" class="ro5">
                        <a href="#bihor">Oradea</a>
                    </li>
                    <li style="border: none;" class="ro6">
                        <a href="#bistrita-nasaud">Bistrita Nasaud</a>
                    </li>
                    <li style="border: none;" class="ro7">
                        <a href="#botosani">Botoșani</a>
                    </li>
                    <li style="border: none;" class="ro8">
                        <a href="#brasov">Brașov</a>
                    </li>
                    <li style="border: none;" class="ro9">
                        <a href="#braila">Brăila</a>
                    </li>
                    <li style="border: none;" class="ro10">
                        <a href="#bucuresti">București</a>
                    </li>
                    <li style="border: none;" class="ro11">
                        <a href="#buzau">Buzau</a>
                    </li>
                    <li style="border: none;" class="ro12">
                        <a href="#caras-severin">Caraș-Severin</a>
                    </li>
                    <li style="border: none;" class="ro13">
                        <a href="#calarasi">Călărași</a>
                    </li>
                    <li style="border: none;" class="ro14">
                        <a href="#cluj">Cluj</a>
                    </li>
                    <li style="border: none;" class="ro15">
                        <a href="#constanta">Constanța</a>
                    </li>
                    <li style="border: none;" class="ro16">
                        <a href="#covasna">Covasna</a>
                    </li>
                    <li style="border: none;" class="ro17">
                        <a href="#dambovita">Dâmbovița</a>
                    </li>
                    <li style="border: none;" class="ro18">
                        <a href="#dolj">Dolj</a>
                    </li>
                    <li style="border: none;" class="ro19">
                        <a href="#galati"> Galati</a>
                    </li>
                    <li style="border: none;" class="ro20">
                        <a href="#giurgiu">Giurgiu</a>
                    </li>
                    <li style="border: none;" class="ro21">
                        <a href="#gorj">Gorj</a>
                    </li>
                    <li style="border: none;" class="ro22">
                        <a href="#harghita">Harghita</a>
                    </li>
                    <li style="border: none;" class="ro23">
                        <a href="#hunedoara">Hunedoara</a>
                    </li>
                    <li style="border: none;" class="ro24">
                        <a href="#ialomita">Ialomița</a>
                    </li>
                    <li style="border: none;" class="ro25">
                        <a href="#iasi">Iași</a>
                    </li>
                    <li style="border: none;" class="ro26">
                        <a href="#ilfov">Ilfov</a>
                    </li>
                    <li style="border: none;" class="ro27">
                        <a href="#maramures">Maramures</a>
                    </li>
                    <li style="border: none;" class="ro28">
                        <a href="#mehedinti">Mehedinți</a>
                    </li>
                    <li style="border: none;" class="ro29">
                        <a href="#mures">Mures</a>
                    </li>
                    <li style="border: none;" class="ro30">
                        <a href="#neamt">Neamt</a>
                    </li>
                    <li style="border: none;" class="ro31">
                        <a href="#olt">Olt</a>
                    </li>
                    <li style="border: none;" class="ro32">
                        <a href="#prahova">Prahova</a>
                    </li>
                    <li style="border: none;" class="ro33">
                         <a href="#satu-mare">Satu Mare</a>
                    </li>
                    <li style="border: none;" class="ro34">
                        <a href="#salaj">Salaj</a>
                    </li>
                    <li style="border: none;" class="ro35">
                        <a href="#sibiu">Sibiu</a>
                    </li>
                    <li style="border: none;" class="ro36">
                        <a href="#suceava">Suceava</a>
                    </li>
                    <li style="border: none;" class="ro37">
                        <a href="#teleorman">Teleorman</a>
                    </li>
                    <li style="border: none;" class="ro38">
                        <a href="#timis">Timis</a>
                    </li>
                    <li style="border: none;" class="ro39">
                        <a href="#tulcea">Tulcea</a>
                    </li>
                    <li style="border: none;" class="ro40">
                        <a href="#vaslui">Vaslui</a>
                    </li>
                    <li style="border: none;" class="ro41">
                        <a href="#valcea">Vâlcea</a>
                    </li>
                    <li style="border: none;" class="ro42">
                        <a href="#vrancea">Vrancea</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</article>
</div>
{% endblock %}
{% block extra_js %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.cssmap.js' %}"></script>
        <script src="{% static 'js/mapscript.js' %}"></script>
{% endblock %}